# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws

# Node.js related
/backend/node_modules/
/backend/.env

# Flutter related
/svpax/.dart_tool/
/svpax/.flutter-plugins-dependencies
/svpax/.env
/svpax/build/
/svpax/android/.gradle/
/svpax/android/build/
/svpax/ios/Flutter/ephemeral/
/svpax/ios/build/
/svpax/linux/flutter/
/svpax/linux/build/
/svpax/macos/Flutter/ephemeral/
/svpax/macos/build/
/svpax/windows/flutter/
/svpax/windows/build/
/svpax/web/flutter_assets/
/svpax/web/build/

# IDE related
/.idea/
/.vscode/
