name: svpax
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5+1
  http: ^1.5.0
  url_launcher: ^6.3.2
  table_calendar: ^3.2.0
  flutter_dotenv: ^5.1.0
  speech_to_text: ^6.6.2
  flutter_tts: ^4.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
